.Todo {
    width: 70%;
    display: flex;
    justify-content: center;
}

.content-input {
    width: 70%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.button {
    width: 60px;
    color: white;
    background-color: #5b73a7;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}