.list {
    width: 80%;
    background-color: #3d6fe9;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.checkbox {
    margin: 10px;
}

.content {
    margin: 8px;
    color: #fff;
    width: 90px;
}

.btn {
    width: 60px;
    color: white;
    background-color: #eb0a0a;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.bt {
    width: 60px;
    color: white;
    background-color: #00f06c;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}